useDynLib("fanc")


export(fanc)
export(plot.fanc)
export(print.fanc)
export(out)
export(out.aic)
export(out.bic)
export(out.caic)
export(cbExposeCanvas)
export(cbExposeLabelLambda)
export(cbValueChangedLambda)
export(cbValueChangedLabelLambda)
export(cbExposeLabelGamma)
export(cbValueChangedGamma)
export(cbValueChangedLabelGamma)
export(MakeInterface)

S3method("plot","fanc")
S3method("print","fanc")
