useDynLib("fanc")


export(fanc)
export(plot.fanc)
export(print.fanc)
export(out)
export(out.aic)
export(out.bic)
export(out.caic)
export(out.ebic)

S3method("plot","fanc")
S3method("print","fanc")
